gitpython
virtualenv
onnxruntime>=1.17
numpy
torch>=2.1,<2.2  # Begrenzung auf stabile 2.1er Version
opencv-python
pillow
tqdm
huggingface-hub>=0.24.0
flask
requests
aiohttp
segment-anything @ git+https://github.com/facebookresearch/segment-anything.git
diffusers>=0.28
iopaint[lama]==1.2.5
rich>=13.6
loguru>=0.7
pytest>=8.0
pytest-mock
pytest-cov
coverage
