gitpython
virtualenv
onnxruntime>=1.17
numpy
torch>=2.2
opencv-python
pillow
tqdm
huggingface-hub>=0.24.0
flask
requests
aiohttp
segment-anything @ git+https://github.com/facebookresearch/segment-anything.git
