gitpython
virtualenv
onnxruntime>=1.17
numpy
torch>=2.2,<2.3  # Ab 1.4.7: Kompatibel mit Python 3.12
opencv-python
pillow
tqdm
huggingface-hub>=0.24.0
flask
requests
aiohttp
segment-anything @ git+https://github.com/facebookresearch/segment-anything.git
iopaint[lama]==1.6.0
diffusers==0.27.2
rich>=13.6
loguru>=0.7
pytest>=8.0
pytest-mock
pytest-cov
coverage
